html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}


.catalog {
  padding-top: 10px;
}

.catalog__section {
  margin-bottom: 40px;
}

.catalog__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-muted);
}

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 30px;
}

@media (max-width: 1200px) {
  .catalog__grid {
    grid-template-columns: repeat(3, 300px);
    gap: 24px;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 300px);
    gap: 24px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .catalog__grid {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
  }
  .catalog__title{
    text-align: center;
  }
}