.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog {
  padding-top: 24px;
}

.catalog__section {
  margin-bottom: 40px;
}

.catalog__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-muted);
}

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: var(--grid-gap);
}