:root {
  --bg-main: #eaeaea;
  --card-bg: #ffffff;

  --text-main: #1c1c2;
  --text-muted: #838383;

  --price-main: #ffa542;
  --price-old: #ffce7f;

  --black: #000000;
  --lang-default: #101010;

  --radius-card: 32px;

  --card-padding-y: 16px;
  --card-padding-x: 8px;
  --grid-gap: 30px;
}