.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 24px;
  border-bottom: 1px solid #eaeaea;

  &__logo {
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  &__cart {
    cursor: pointer;
    text-decoration: none;
    color: #000;

    &:hover {
      opacity: 0.7;
    }
  }
}