.card {
  width: 633px;
  height: 218px;
  background: #ffffff;
  border-radius: 32px;
  position: relative;

  display: flex;
  padding: 24px;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
}

.left {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 120px;
  height: auto;
}

.counter {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.counter button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffce7f;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;

  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}
.counter span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
}

.center {
  flex: 1;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #1c1c27;
  margin-bottom: 6px;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #aaaaaa;
}
.remove {
  position: absolute;
  top: 18px;
  right: 28px;
  background: none;
}

.total {
  position: absolute;
  bottom: 25px;
  right: 28px;

  font-size: 17px;
  font-weight: 600;
}
