.footer {
  margin-top: auto;
}

.footer__box {
  background: #fff;
  border-radius: 32px 32px 0 0;
  padding: 30px;

  display: flex;
  justify-content: space-between;
}

.footer__logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  color: var(--lang-default);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: -16px;
}

.footer__link {
  font-size: 17px;
  font-weight: 400;
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s ease, opacity 0.2s ease;

  &:hover {
    color: var(--price-main);
    opacity: 0.8;
  }
}

.footer__service {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__lang {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__langIcon {
  width: 20px;
  height: 20px;
}

.footer__langBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--lang-default);

  transition: color 0.2s ease;

  &:hover {
    color: var(--price-main);
  }
}

.footer__langActive {
  font-weight: 700;
  color: var(--price-main);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__social {
  display: inline-flex;
  transition: transform 0.2s ease, opacity 0.2s ease;

  img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 0.7;
  }
}