.footer {
  margin-top: auto;
}

.footer__box {
  background: #ffffff;
  border-radius: var(--radius-card) var(--radius-card) 0 0;
  padding: 30px;

  display: grid;
  grid-template-columns:  330px 250px 350px auto;
  align-items: start;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
}

.footer__logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  color: var(--lang-default);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 17px;
  font-weight: 400;
  color: var(--black);
  margin-left: -16px;
}

.footer__service {
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-size: 17px;
  font-weight: 400;
  color: var(--black);
}

.footer__lang {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__langIcon {
  width: 20px;
  height: 20px;
}

.footer__lang button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--lang-default);
}

.footer__langActive {
  font-weight: 700;
  color: var(--price-main);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__socials img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.containerWide {
  max-width: 1200px;
}